<!DOCTYPE html>
<html>
<head>
    <title>TFL timetable with geolocation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div id="map"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script> window.jQuery || document.write('<script src="{{
             url_for('static', filename='jquery.js') }}">\x3C/script>')
    </script>
    <script src="/static/tfl_gmaps.js"></script>	    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi5AumRRtJFuhHzdZV7dxlhrdLa4_Q39c&callback=initMap"></script>

    <div id="stops">Stops</div>
</body>
</html>
